/* animation du carrousel de personnages */

.main-character {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    height: auto;
    align-items: flex-start;
}

figcaption {
    font-size: 18px;
    font-weight: 400;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: contain;
    width: 100%;
    height: auto;
}

.swiper-slide img {
    display: block;
    min-width: 400px;
    height: 440px;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}