#oscar {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 12em auto 5em auto;
  position: relative;
  &::before {
    content: url("../assets/images/Sunflower.png");
    position: absolute;
    left: 7em;
    top: -4em;
  }
  &::after {
    content: url("../assets/images/orchid.png");
    position: absolute;
    right: -5em;
    top: -15em;
  }

  .oscarClass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;

    img {
      margin-top: 80px;
    }

    .textOscar {
      background-image: url("../assets/images/nuage-orange.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 60%;
      padding: 50px 0;
      p {
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 42px;
        line-height: 52.5px;
        color: #fff5e9;
        text-align: left;
        text-align: left;
        padding: 0 100px;
      }
    }
  }
}
