@import "keyframes";

@import "menu";

@import "oscar";

//Animation des fleurs.
.story__article::after,
.story h2::after,
.site-footer ul::after,
#studio h2::before,
#studio h2::after,
.orchid-menu,
.sunflower-menu,
.flower-menu,
.hibiscus-menu,
.randomflower-menu,
#oscar::after,
#oscar::before {
  animation: rotating 25s linear infinite;
}

.site-footer::before,
.site-footer::after {
  display: none;
}

//recentre les fleurs
.story h2::after {
  width: 155px;
  height: 155px;
  object-fit: cover;
}

#studio h2::after {
  width: 109px;
  height: 109px;
  object-fit: cover;
}

#studio h2::before {
  width: 203px;
  height: 203px;
  object-fit: cover;
}