@import "keyframes";

@import "menu";

@import "oscar";

body {
    width: 1440px;
}

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  a {
    text-decoration: none;
    margin-bottom: 15px;
  }
}

.navMenu {
  display: flex;
  background-color: #ffd5a2;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  margin: 0;
  text-align: center;
  flex-grow: 1;
  padding-left: 100px;
  a {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: none;
  }
}

.burgerMenu {
  cursor: pointer;
  i {
    font-size: xx-large;
    margin-right: 80px;
  }
}

.burger-menu {
  display: none;
  height: 0vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    gap: 40px;
  }
  li {
    list-style: none;
    text-align: center;
    a {
      text-decoration: none;
      font-size: 64px;
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
    }
    a:hover {
      text-shadow: 0px 0px 14px rgba(255, 92, 0, 1);
      color: rgba(0, 0, 0, 1);
    }
  }
}

.burger-menu.open {
  display: flex;
  height: calc(100vh - 80px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.orchid-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 170px;
  height: 170px;
  top: 80px;
  left: -60px;
}

.sunflower-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 216px;
  height: 216px;
  top: 60px;
  right: 160px;
}

.flower-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 70px;
    height: 70px;
    transform-origin: center center;
    top: 430px;
    left: 210px;
}

.hibiscus-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 600px;
    height: 600px;
    transform-origin: center center;
    bottom: -325px;
    right: -295px;
}

.randomflower-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 75px;
    height: 75px;
    transform-origin: center center;
    top: 350px;
    right: -30px;
}

.onejiiro-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 105px;
    height: 105px;
    transform-origin: center center;
    bottom: 70px;
    left: 100px;
}

.kawaneko-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 115px;
    height: 115px;
    transform-origin: center center;
    top: 140px;
    left: 250px;
}

.jaakuna-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 115px;
    height: 115px;
    transform-origin: center center;
    top: 420px;
    right: 200px;
}

.logo-menu {
    position: relative;
    width: 154px;
    height: 95px;
    margin: 40px auto 0 auto;
    filter: drop-shadow(0px 0px 10px #FF5C0099);
}